
.idea
.gradle
build/
/MxLibData

# https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/chrome/index.d.ts
src/mirai-selenium-ext/index.d.ts

*.logs

# Dynamically generated
!src/main/resources/META-INF/services/net.mamoe.mirai.console.plugin.jvm.JvmPlugin
src/main/resources/mirai-selenium-ext.update-time
src/main/resources/mirai-selenium-ext.zip
